<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/SemanticUI/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/SemanticUI/semantic.min.js"></script>
  </head>
</body>
  <body>
    <div class="ui primary pointing menu" id="header">
      <a href="/" class="item">Home</a>
        <div class="right menu">
          <a href="/signin" class="ui item">Sign In</a>
          <a href="/signup" class="ui item active">Sign Up</a>
        </div>
    </div>
    <div class="ui stackable two column grid centered">
      <div class="column">
        <div class="ui segment">
          <div class="ui transition message" style="display:none;">
            <i class="close icon"></i>
            <div class="header">
            </div>
            <ul class="list">
            </ul>
          </div>
          <form class="ui form">
            <div class="field">
                <div class="two fields">
                  <div class="field">
                    <label>First Name</label>
                    <input type="text" name="first-name" placeholder="First Name">
                  </div>
                  <div class="field">
                    <label>Last Name</label>
                    <input type="text" name="last-name" placeholder="Last Name">
                  </div>
                </div>
              </div>
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <label>Email</label>
                  <input type="text" name="email" placeholder="Email">
                </div>
                <div class="field">
                  <label>Password</label>
                  <input type="password" name="password" id="password" placeholder="Password">
                </div>
              </div>
              <div class="ui indicating progress transition" style="display:none;">
                <div class="bar"></div>
              </div>
            </div>
            <div class="field">
              <label>Birthday</label>
              <input type="text" name="date" placeholder="YYYY-MM-DD">
            </div>
            <div class="field">
                <label>Gender</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Gender</div>
                    <div class="menu">
                      <div class="item" data-value="man"><i class="man blue icon"></i> Man</div>
                      <div class="item" data-value="girl"><i class="woman pink icon"></i> Girl</div>
                    </div>
                </div>
            </div>
            <div class="field">
              <button class="ui fluid primary button" id="submit">Submit</button>
            </div>
            <div class="ui inverted dimmer">
              <div class="ui loader"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/checkform.js"></script>
    <script type="text/javascript" src="/js/checkpassword.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>

  </body>
</html>
