html, body{
  min-height: 100%;
}
body, .bg {
  background: -webkit-linear-gradient(#e53935, #e35d5b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#e53935, #e35d5b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#e53935, #e35d5b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#e53935, #e35d5b); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#header {
  background-color: white;
}

#slider {
  position: relative;
  opacity: 1;
  transition: .5s ease;
  text-align:center;
}

#slider:hover {
  opacity: 0.3;
}

#photoList .active{
  border: 2px solid #22be34;
}

#photoList .profile, #photoList .active.profile{
  border: 2px solid #3ac0ff;
}

#photoList img:not(.active):not(.profile){
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
